.mainDiv {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #ebe6f8,
    #ece5f6,
    #ede4f5,
    #eee4f3,
    #efe3f1
  );
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
